.s3-browser__nav 
    display flex
    
    > a 
        padding 2px 2px
        text-decoration none
        &:not(:first-child):before
            content '/'
            padding-right 4px
        &.current
        &:hover
            color #efce4a


